/**
  Ministry team access denied page styling.
 */

@use '~sass-rem' as rem;

@import 'src/css/common/containers';

.ministry-teams-access-denied-header-text {
  font-size: rem.convert(32px);
  font-weight: 500;
}

.ministry-teams-access-denied-reason-text {
  font-size: rem.convert(24px);
  font-weight: 500;
  padding-bottom: rem.convert(24px);
}

.ministry-teams-access-denied-redirect-link {
  font-size: rem.convert(22px);
  font-weight: 400;
  color: black;
  text-decoration: none;
}

.ministry-teams-access-denied-redirect-link:hover {
  color: black;
}
