@use '~sass-rem' as rem;

.leadership-section-container {
    display: flex;
    flex-direction: column;
    padding: 4rem 20% 0;
    h2 {
      border-bottom: 1px solid #c4c4c4;
      padding: 0.25rem;
    }
    body {
      padding: 0.25rem;
    }
    .section {
      padding: 1rem 0.25rem 0;
    }
  }