/**
  Styling specific to our forms - should be unified.
 */

@use 'src/styles/colors';
@use 'src/styles/font-sizes';
@use 'src/styles/font-weights';
@use 'src/styles/dimensions';

/**
  Typography.
 */
.signup-form-title {
  font-size: font-sizes.$form-title;
  font-weight: font-weights.$form-title;
}

.signup-form-label {
  font-size: font-sizes.$form-label;
  font-weight: font-weights.$form-label;
}

.signup-form-radio-text {
  font-size: font-sizes.$form-radio-text;
  font-weight: font-weights.$form-radio-text;
}

.signup-form-radio-subheading {
  font-size: font-sizes.$form-radio-subheading;
  font-weight: font-weights.$form-radio-subheading;
}

/**
  Component styling.
 */
.signup-form-radio-button .form-check-input {
  border: 1px solid colors.$black;
  height: dimensions.$radio-normal-height-width;
  width: dimensions.$radio-normal-height-width;
}

.signup-form-radio-button .form-check-input:checked {
  background-color: colors.$white;
}

.signup-form-radio-button .form-check-input:checked[type=radio] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23000'/%3e%3c/svg%3e");
}