/**
* Landing Styling
*/

@use '~sass-rem' as rem;

@use 'src/styles/dimensions';
@use 'src/styles/font-sizes';
@use 'src/styles/font-weights';
@use 'src/styles/colors';

$rounded-box-radius: rem.convert(20px);
$rounded-submit-button-radius: rem.convert(14px);
$font-family: 'Poppins', sans-serif;
$breakpoint-1: 1200px;
$breakpoint-2: 900px;
$breakpoint-3: 600px;

@media screen and (max-width: $breakpoint-1) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: $breakpoint-2) {
    html {
        font-size: 9px;
    }
}

@media screen and (max-width: $breakpoint-3) {
    html {
        font-size: 8px;
    }
}
    
#container {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: rem.convert(100px);
    width: 100%;
    height: rem.convert(1000px);
    overflow: visible;
    background-color: black;
    gap: rem.convert(50px);
}

#bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: rem.convert(130px);
    width: 100%;
    background-color: white;
}

#rounded-blue-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: rem.convert(100px);
    padding-bottom: rem.convert(80px);
    border-radius: $rounded-box-radius;
    background-color: colors.$goc-blue;
}

#welcome-title {
    position: relative;
    font-family: $font-family;
    font-weight: 600;
    font-size: rem.convert(64px);
    color: white;
    text-align: center;
}

#welcome-subtitle {
    position: relative;
    font-family: $font-family;
    font-weight: 500;
    font-size: rem.convert(20px);
    color: white;
    text-align: center;
}

#learn-more-btn {
    margin-top: rem.convert(20px);
    padding: rem.convert(10px) rem.convert(30px);
    border: 1px solid white;
    color: white;
    border-radius: $rounded-submit-button-radius;
    background-color: colors.$goc-blue;
    cursor: pointer;
}

#welcome-image-container {
    position: relative;
    width: 100%;
}

#welcome-image {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: $rounded-box-radius;
    z-index: 1;
}

#facebook-btn {
    all: unset;
    position: absolute;
    text-align: center;
    font-family: $font-family;
    font-weight: 500;
    font-size: rem.convert(18px);
    overflow: hidden;
    padding: rem.convert(14px) rem.convert(40px);
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 10%;
    border-color: white;
    border-radius: $rounded-submit-button-radius;
    background-color: white;
    z-index: 2;
    cursor: pointer;
}

#welcome-paragraph-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: rem.convert(100px) 0;
    padding: rem.convert(50px);
}

#welcome-paragraph-title {
    position: relative;
    font-family: $font-family;
    font-weight: 400;
    font-size: rem.convert(45px);
    color: black;
    text-align: center;
}

#welcome-paragraph-body {
    position: relative;
    font-family: $font-family;
    font-weight: 400;
    font-size: rem.convert(18px);
    color: black;
    text-align: center;
    width: 50%;
    margin: auto;
}

#what-we-believe-btn {
    position: relative;
    margin-top: rem.convert(20px);
    padding: rem.convert(10px) rem.convert(30px);
    font-family: $font-family;
    font-weight: 500;
    font-size: rem.convert(18px);
    border: 1px solid black;
    color: white;
    border-radius: $rounded-submit-button-radius;
    background-color: black;
}