@use '~sass-rem' as rem;

.sermons {
    background-color: #C4C4C4;
    color: white;
    height: rem.convert(250px);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sermons-container {
    padding: rem.convert(50px);
}

.sermon-info {
    text-align: left;
}