/**
* Beliefs page styling.
*/

@use '~sass-rem' as rem;

@use 'src/styles/colors';

@import 'src/css/bootstrap';

.beliefs-title-overlay {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  height: rem.convert(300px);
  background: #C4C4C4;
  text-align: center;
  flex-direction: column;
  position: relative;
}

.beliefs-title-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: rem.convert(75px);
  letter-spacing: -0.065em;
  color: white;
}

.body-container {
  max-width: 60%;
  clear: both;
}

.header-text {
  margin-top: rem.convert(75px);
  border-bottom: rem.convert(2px) solid #C4C4C4;
  padding-bottom: rem.convert(4px);
  font-family: 'Poppins';
  font-size: rem.convert(54px)
}

.body-text {
  padding-top: rem.convert(4px);
}