/**
* Header styling.
*/

@use '~sass-rem' as rem;

@use 'src/styles/colors';

@import 'src/css/bootstrap';

$header-link-font-size: rem.convert(14px);
$header-link-font-weight: 500;
$header-link-underline-thickness: rem.convert(4px);


.navbar-nav {
  align-items: center;
}

.header-navbar-link {
  text-decoration: none;
  :hover {
    text-decoration: underline;
  }
}




.navbar-nav
.navbar-light .navbar-toggler,
.navbar-light .navbar-toggler:focus {
	border: none;
	box-shadow: none;
}

.navbar-light .navbar-nav .nav-item .header-navbar-link {
	color: black;
	font-weight: $header-link-font-weight;
}

.navbar-light .navbar-nav .nav-item .header-navbar-link.nav-link.active {
	text-decoration: underline; // underline
	text-underline-position: under; //the 'p', 'y', 'q' of "Prayer Request" segments the underline. this solves that
	text-decoration-color: colors.$goc-blue; // Minimal support - must find another option
	text-decoration-thickness: $header-link-underline-thickness;
}
