/**
  This file stores commonly used font weights across components.
 */

$form-title: 400;
$form-label: 300;
$form-radio-text: 300;
$form-radio-subheading: 400;
$form-button: 600;

$thank-you-heading: 600;
$thank-you-text: 500;