/**
* Header styling.
*/

@use 'node_modules/sass-rem/index' as rem;

.header {
    height: rem.convert(441px);
}

.goc-header {
    width: rem.convert(200px);
}

.nav-link {
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.account-sign-up-button {
    background-color: #D9BA68;
    height: rem.convert(45px);
    width: rem.convert(110px);
    border-width: rem.convert(0px);
    border-radius: rem.convert(18px);
}

.account-sign-up-button:hover, .account-sign-up-button:focus {
    background-color: #96751a;
}
