/**
  Rider signup form styling.
 */

@use '~sass-rem' as rem;

@use 'src/styles/font-sizes';

.time-label {
  line-height: rem.convert(18px);
}

.apartment-radio-text-input {
  display: flex;
  flex-direction: row;
}

textarea {
  resize: none;
}
