/**
* Footer styling.
*/

@use 'node_modules/sass-rem/index' as rem;

@import 'src/css/bootstrap.scss';

.footer {
    padding: rem.convert(40px) 0;
    background-color: #f6f6f6;
}

.gcc-logo {
    width: rem.convert(268px);
    height: rem.convert(128px);
}


.row .logo-icon {
    width: rem.convert(35px);
    height: rem.convert(35px);
}

.footer-label {
    font-size: rem.convert(14px);
    font-weight: 500;
    color: #afafaf;
}

.footer-text {
    font-weight: 300;
}

.footer-form-group {
    max-width: rem.convert(272px);
}

.newcomer-form-label {
    font-size: rem.convert(13px);
    font-weight: 200;
}

.newcomer-form-submit {
    font-size: rem.convert(13px);
    border-radius: rem.convert(14px);
    margin-top: rem.convert(12px);
}