@use "~sass-rem" as rem;

.event-title {
  font-size: rem.convert(60px);
}

.short-date-container {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.events {
  background-color: #c4c4c4;
  color: white;
  height: rem.convert(250px);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-info {
  display: flex;
  vertical-align: middle;
}

.logo-icon {
  margin-right: rem.convert(5px);
  width: rem.convert(25px);
  height: rem.convert(25px);
}

.event-info {
  font-weight: bold;
}

.event-description {
  display: flex;
  justify-content: space-between;
}

.event-description-text {
  margin: rem.convert(20px);
  text-align: left;
}

.event-description-text p {
  width: rem.convert(300px);
  text-wrap: wrap;
}
