/**
* Event List Styling
*/

@use '~sass-rem' as rem;

#event-list-container {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem.convert(50px);
}