/**
  Landing page body styling.
*/

@use '~sass-rem' as rem;

.login-container {
  padding: rem.convert(68px) 0 rem.convert(85px);
}

.ministry-teams-landing-header {
  font-size: rem.convert(32px);
  font-weight: 500;
}
